.navbtn Button {
  border: 1px solid #dee2e6;
  background-color: #fff;
}
.dropdown {
  margin: auto;
  width: 50%;
}
.border {
  border-radius: 5px 0px 0px 5px;
}
.formcontrol {
  border-radius: 0px 5px 5px 0px;
  /* width: 350px; */
}
/* ----------------- buttons--------------------- */
.img {
  height: 62px;
  text-align: right;
}
.btntxt {
  font-family: Signika;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: black;
}
.span {
  width: 1px;
  height: 70px;
  background-color: red;
  border: 2px solid black;
}
