node_modules
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/middleware-build-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/vendor-chunks/next.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/development/_buildManifest.js
.next/static/webpack/f1844cfcce939113.webpack.hot-update.json
.next/static/webpack/webpack.f1844cfcce939113.hot-update.js
.next/static/webpack/pages/bb.dd91649cb2939382.hot-update.js
.next/static/webpack/webpack.dd91649cb2939382.hot-update.js
.next/static/webpack/dd91649cb2939382.webpack.hot-update.json
.next/static/development/_buildManifest.js
.next/static/chunks/pages/bb.js
.next/static/chunks/webpack.js
.next/server/vendor-chunks/next.js
.next/server/pages/bb.js
.next/server/pages-manifest.json
.next/server/next-font-manifest.json
.next/server/next-font-manifest.js
.next/server/middleware-build-manifest.js
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/0.pack.gz
.next/trace
.next/build-manifest.json
.gitignore
