node_modules
.env.local
.next/build-manifest.json
.next/trace
.next/cache/images/-LIWXUbTSm619+71sWiWbVFe9HO4krKqfa6fFpqpUHI=/60.1720515930464.TcJoXxiCfAa4o0S081nqNockxLX6n8y0dhodfRi4SWI=.webp
.next/cache/images/3GRN7tzdr21cSOhrbJxzwAsHeczm5NuQMQTOWVXRmH4=/60.1720855930885.WNoJdydapWaKDCqTr2-C8z6CtnLnDuSfKMFBRCepFSM=.webp
.next/cache/images/9aUw2FQu4keG6H3YEYB1I5V7q2QsfHgOYTlaslOuHaU=/60.1720516979893.uJYYPy5QvbNwJjTSU49jktI7w6VykCGZuTRp90ddEs8=.webp
.next/cache/images/9dtRfyhT-xP6Qq7NlLGY12H7DlQjTdpE-EyVLqNs-uM=/60.1720855844444.-rfDzd556+mtHDJbbqH2UeKUbczdtuijU4PAHzIAGnA=.webp
.next/cache/images/9IU5JZm2ZHs4Uv1veo4hitiV9XDFU6w-H+84jK7qfsA=/60.1720855735452.S5GLrkm+qYhhPiOPEYVxkqPZGMohMgbzQgR8U2LiVx0=.webp
.next/cache/images/a6uArUCGBRVNzelYiGKBJWm6cSLHcI1XflsMlV2H4vo=/60.1720692390834.uJYYPy5QvbNwJjTSU49jktI7w6VykCGZuTRp90ddEs8=.webp
.next/cache/images/aybO+9kpH-CCGwX801Rc4Vu1b94U0xwseF0Enre5EqY=/60.1720515970663.TcJoXxiCfAa4o0S081nqNockxLX6n8y0dhodfRi4SWI=.webp
.next/cache/images/BELfsKxVzUKPrLRUehHdl1S4+-v6Q8+qb7VY3RJ6954=/60.1720855735464.WNoJdydapWaKDCqTr2-C8z6CtnLnDuSfKMFBRCepFSM=.webp
.next/cache/images/ezAYTs34QQMBKfuT-MFuLjAnzgqpomLRdeFqHRgVgvo=/60.1720694381960.aWpi1ARl-wYEmA+MtxW7EzQKpsJ95AHOUitjnjqRlKQ=.webp
.next/cache/images/fBp6lA6JcnVHvz6Fo9vRQeglaxfGieo7fe8OVI3H-DY=/60.1720515888350.XjZXO-GSosZKXF+DwOkhP05YA21CqBUmnj+FASmSC4Q=.webp
.next/cache/images/FI0qTDWW+7X3R8Tr+JTT4QOANYGAQwSVn3UZHmuvy9g=/60.1720855735631.-rfDzd556+mtHDJbbqH2UeKUbczdtuijU4PAHzIAGnA=.webp
.next/cache/images/HbsvjbP38XRmqCRw72nrzT5scfYNFUK4vlfUQOpSHfU=/60.1720855930875.S5GLrkm+qYhhPiOPEYVxkqPZGMohMgbzQgR8U2LiVx0=.webp
.next/cache/images/oPJRLgE1+5h5eHKzhAXLa1wjHr1p3NNqhm-bbSRj9O4=/60.1720516668158.LWkvMSagBVGPLqvlBFOK1T0MIYaM1Mia5FAPUlG+FOk=.webp
.next/cache/images/OV0P8Swsoey1XZzM4KGlxbycciQmv41Sz-33wYtdpOE=/60.1720850503346.ZQlMEnVESvT3+rzajH2kFC9ZQMIFdfw2tjN1azScToQ=.webp
.next/cache/images/SoAh688sWoMBWzn46Zfkft0NPtj-H5Y5AJEtxzXNH3Y=/60.1720516533761.k07+G7vFCcgig-Tz1CInzG3LpaC51QJyGHecwTUZHbI=.webp
.next/cache/images/U82UlNEhij5TrPyw5LTrzVDPH1UkBGpngYK-xetrjaM=/60.1720855930847.uJYYPy5QvbNwJjTSU49jktI7w6VykCGZuTRp90ddEs8=.webp
.next/cache/images/Y1MysyKVu2RToNMCR7TvyOtn7zQSK3gqtMWpq6gph9A=/60.1720516540802.FVMM28EtNXmfBohADgQXcHva8I2uN51sRNyCH-W7aZ4=.webp
.next/cache/images/zPX9VnTONYkd4kYfiuMTX40Kci0qs44gRLb1RY+okYs=/60.1720691762121.ZQlMEnVESvT3+rzajH2kFC9ZQMIFdfw2tjN1azScToQ=.webp
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/19.pack.gz
.next/cache/webpack/client-development/20.pack.gz
.next/cache/webpack/client-development/21.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/1.pack.gz
.next/cache/webpack/client-development-fallback/2.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/18.pack.gz
.next/cache/webpack/server-development/19.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/pages/bripublish.js
.next/server/pages/index.js
.next/server/pages/Inter-generational.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/react-bootstrap.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/bripublish.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/Inter-generational.js
.next/static/development/_buildManifest.js
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/static/media/Frame 16.6ffb365c.svg
.next/static/webpack/2fd664c3f6e1fc0d.webpack.hot-update.json
.next/static/webpack/4a0ae7e4992eafc3.webpack.hot-update.json
.next/static/webpack/4b42b7212a697186.webpack.hot-update.json
.next/static/webpack/9ac105f44c3b0b82.webpack.hot-update.json
.next/static/webpack/9ac49857a40dba59.webpack.hot-update.json
.next/static/webpack/9c5b0f53f1e030bc.webpack.hot-update.json
.next/static/webpack/19a18d6f1aa62dbe.webpack.hot-update.json
.next/static/webpack/68ec8c36a1236bc7.webpack.hot-update.json
.next/static/webpack/74cb9e05341f1c6e.webpack.hot-update.json
.next/static/webpack/99c92c7597796822.webpack.hot-update.json
.next/static/webpack/3522e27e5ea2f855.webpack.hot-update.json
.next/static/webpack/52544b7c54d88df3.webpack.hot-update.json
.next/static/webpack/438552b153c2448e.webpack.hot-update.json
.next/static/webpack/7963839e6875566b.webpack.hot-update.json
.next/static/webpack/21405925670cbead.webpack.hot-update.json
.next/static/webpack/bdfb8f50af52886f.webpack.hot-update.json
.next/static/webpack/c2cf9caaad4f07cb.webpack.hot-update.json
.next/static/webpack/c87c3db78189b631.webpack.hot-update.json
.next/static/webpack/d84b84e75c8f7e25.webpack.hot-update.json
.next/static/webpack/webpack.2fd664c3f6e1fc0d.hot-update.js
.next/static/webpack/webpack.4a0ae7e4992eafc3.hot-update.js
.next/static/webpack/webpack.4b42b7212a697186.hot-update.js
.next/static/webpack/webpack.9ac105f44c3b0b82.hot-update.js
.next/static/webpack/webpack.9ac49857a40dba59.hot-update.js
.next/static/webpack/webpack.9c5b0f53f1e030bc.hot-update.js
.next/static/webpack/webpack.19a18d6f1aa62dbe.hot-update.js
.next/static/webpack/webpack.68ec8c36a1236bc7.hot-update.js
.next/static/webpack/webpack.74cb9e05341f1c6e.hot-update.js
.next/static/webpack/webpack.99c92c7597796822.hot-update.js
.next/static/webpack/webpack.3522e27e5ea2f855.hot-update.js
.next/static/webpack/webpack.52544b7c54d88df3.hot-update.js
.next/static/webpack/webpack.438552b153c2448e.hot-update.js
.next/static/webpack/webpack.7963839e6875566b.hot-update.js
.next/static/webpack/webpack.21405925670cbead.hot-update.js
.next/static/webpack/webpack.bdfb8f50af52886f.hot-update.js
.next/static/webpack/webpack.c2cf9caaad4f07cb.hot-update.js
.next/static/webpack/webpack.c87c3db78189b631.hot-update.js
.next/static/webpack/webpack.d0b859138714fd97.hot-update.js
.next/static/webpack/webpack.d84b84e75c8f7e25.hot-update.js
.next/static/webpack/pages/index.2fd664c3f6e1fc0d.hot-update.js
.next/static/webpack/pages/index.4a0ae7e4992eafc3.hot-update.js
.next/static/webpack/pages/index.4b42b7212a697186.hot-update.js
.next/static/webpack/pages/index.9ac105f44c3b0b82.hot-update.js
.next/static/webpack/pages/index.9c5b0f53f1e030bc.hot-update.js
.next/static/webpack/pages/index.68ec8c36a1236bc7.hot-update.js
.next/static/webpack/pages/index.74cb9e05341f1c6e.hot-update.js
.next/static/webpack/pages/index.3522e27e5ea2f855.hot-update.js
.next/static/webpack/pages/index.52544b7c54d88df3.hot-update.js
.next/static/webpack/pages/index.438552b153c2448e.hot-update.js
.next/static/webpack/pages/index.bdfb8f50af52886f.hot-update.js
.next/static/webpack/pages/index.d84b84e75c8f7e25.hot-update.js
.next/static/webpack/pages/Inter-generational.2d67bf9287d99376.hot-update.js
.next/static/webpack/pages/Inter-generational.5fa7d09726858283.hot-update.js
.next/static/webpack/pages/Inter-generational.52bab34cb4fc2dcd.hot-update.js
.next/static/webpack/pages/Inter-generational.526df3b1a1e6a182.hot-update.js
.next/static/webpack/pages/Inter-generational.618c6835ea5fe5d5.hot-update.js
.next/static/webpack/pages/Inter-generational.764db5859ad5006e.hot-update.js
.next/static/webpack/pages/Inter-generational.1784838620861ba7.hot-update.js
.next/static/webpack/pages/Inter-generational.d0b859138714fd97.hot-update.js
public/assets/Group 1000004582.png
public/assets/images/Indiadashboard2023/1stranksunlight.svg
public/assets/images/Indiadashboard2023/2nduppershadow.svg
public/assets/images/Indiadashboard2023/amazon_author.svg
public/assets/images/Indiadashboard2023/arrow_background.svg
public/assets/images/Indiadashboard2023/bg-dots.svg
public/assets/images/Indiadashboard2023/centerCard1st.svg
public/assets/images/Indiadashboard2023/city_seller.svg
public/assets/images/Indiadashboard2023/crown1.svg
public/assets/images/Indiadashboard2023/crown1strank.svg
public/assets/images/Indiadashboard2023/crown2.svg
public/assets/images/Indiadashboard2023/crown2ndrank.svg
public/assets/images/Indiadashboard2023/crown3.svg
public/assets/images/Indiadashboard2023/crown3rdrank.svg
public/assets/images/Indiadashboard2023/dashboard_cart.svg
public/assets/images/Indiadashboard2023/early_access.svg
public/assets/images/Indiadashboard2023/gold_medallion.svg
public/assets/images/Indiadashboard2023/hall_frame.svg
public/assets/images/Indiadashboard2023/ISBN_author.svg
public/assets/images/Indiadashboard2023/Jury_solid.svg
public/assets/images/Indiadashboard2023/left_leaf.svg
public/assets/images/Indiadashboard2023/leftCard2nd.svg
public/assets/images/Indiadashboard2023/nyaf-logo2023.png
public/assets/images/Indiadashboard2023/prime_author_icon.svg
public/assets/images/Indiadashboard2023/published_author.svg
public/assets/images/Indiadashboard2023/right_leaf.svg
public/assets/images/Indiadashboard2023/right_slide_arrow.svg
public/assets/images/Indiadashboard2023/rightCard3rd.svg
public/assets/images/Indiadashboard2023/school_seller.svg
public/assets/images/Indiadashboard2023/search.gif
public/assets/images/Indiadashboard2023/searchButton.svg
public/assets/images/Indiadashboard2023/secondimg.png
public/assets/images/Indiadashboard2023/stage1strank.svg
public/assets/images/Indiadashboard2023/stage2ndrank.svg
public/assets/images/Indiadashboard2023/stage3rdrank.svg
public/assets/images/Indiadashboard2023/state_seller.svg
public/assets/images/Indiadashboard2023/toprankerBg.svg
src/components/common/NoConnection.js
