node_modules
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/middleware-build-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/vendor-chunks/next.js
.next/static/chunks/webpack.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/development/_buildManifest.js
.next/static/webpack/f1844cfcce939113.webpack.hot-update.json
.next/static/webpack/webpack.f1844cfcce939113.hot-update.js
.next/static/webpack/pages/bb.dd91649cb2939382.hot-update.js
.next/static/webpack/webpack.dd91649cb2939382.hot-update.js
.next/static/webpack/dd91649cb2939382.webpack.hot-update.json
.next/static/development/_buildManifest.js
.next/static/chunks/pages/bb.js
.next/static/chunks/webpack.js
.next/server/vendor-chunks/next.js
.next/server/pages/bb.js
.next/server/pages-manifest.json
.next/server/next-font-manifest.json
.next/server/next-font-manifest.js
.next/server/middleware-build-manifest.js
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/0.pack.gz
.next/trace
.next/build-manifest.json
.gitignore
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_error.js
.next/server/pages/bb.js
.next/server/pages/index.js
.next/server/pages/Inter-generational.js
.next/server/pages/isr.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/react-bootstrap.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/bb.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/Inter-generational.js
.next/static/chunks/pages/isr.js
.next/static/development/_buildManifest.js
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/46c21389e888bf13-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/eafabf029ad39a43-s.p.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/static/media/Frame 16.6ffb365c.svg
.next/static/webpack/2d67bf9287d99376.webpack.hot-update.json
.next/static/webpack/5fa7d09726858283.webpack.hot-update.json
.next/static/webpack/8a99d7f4f6847715.webpack.hot-update.json
.next/static/webpack/52bab34cb4fc2dcd.webpack.hot-update.json
.next/static/webpack/526df3b1a1e6a182.webpack.hot-update.json
.next/static/webpack/618c6835ea5fe5d5.webpack.hot-update.json
.next/static/webpack/764db5859ad5006e.webpack.hot-update.json
.next/static/webpack/093822fb8262b6b9.webpack.hot-update.json
.next/static/webpack/7339402bd9f8d9f6.webpack.hot-update.json
.next/static/webpack/1784838620861ba7.webpack.hot-update.json
.next/static/webpack/bded38c7998c0658.webpack.hot-update.json
.next/static/webpack/d0b859138714fd97.webpack.hot-update.json
.next/static/webpack/webpack.2d67bf9287d99376.hot-update.js
.next/static/webpack/webpack.5fa7d09726858283.hot-update.js
.next/static/webpack/webpack.8a99d7f4f6847715.hot-update.js
.next/static/webpack/webpack.52bab34cb4fc2dcd.hot-update.js
.next/static/webpack/webpack.526df3b1a1e6a182.hot-update.js
.next/static/webpack/webpack.618c6835ea5fe5d5.hot-update.js
.next/static/webpack/webpack.764db5859ad5006e.hot-update.js
.next/static/webpack/webpack.093822fb8262b6b9.hot-update.js
.next/static/webpack/webpack.7339402bd9f8d9f6.hot-update.js
.next/static/webpack/webpack.1784838620861ba7.hot-update.js
.next/static/webpack/webpack.bded38c7998c0658.hot-update.js
