/* styles/Home.module.css */
.container {
  padding: 20px;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.main {
  width: 500px;
  height: auto;
}

.taskList {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.taskItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
}

.taskText {
  max-height: 50px; /* Adjust based on font-size to limit to two lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 290px; /* Adjust as needed */
}

.taskText:hover {
  white-space: normal;
  overflow: auto;
}

.taskItem button {
  margin-left: 10px;
}
.btn {
  width: 100px;
  height: 40px;
}
.input_box {
  width: 290px;
}
@media screen and (max-width: 500px) {
  .input_group {
    width: 390px;
  }
  /* .taskList {
    width: 300px;
  } */
  .taskItem {
    width: 390px;
  }
}
@media screen and (max-width: 390px) {
  .input_group {
    width: 350px;
  }
  /* .taskList {
    width: 300px;
  } */
  .taskItem {
    width: 350px;
  }
}
