.containerfluid {
    background-image: url("/assets/images/bristore/HOT-DEALS.jpg");
    width: 100%;
  }
  
  .card {
    width: 350px;
    height: 220px;
    background-color: #ffff;
    /* margin: 10px 0px 10px 0px; */
    border-radius: 15px;
  }
  
  .cardcontent p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
  }
  .cardcontent h4 {
    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
  }
  .containerfluid h1 {
    font-family: Signika;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .containerfluid h3 {
    font-family: Signika;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 153, 0, 1);
  }
  